@import '../../../styles/variables';
@import '../../../styles/mixins/typography';

.button {
	@include paragraph(20px, rgba(#ffffff, 0.8));
	background: rgba($color: $main-background-dark, $alpha: 1);
	border: 0;
	box-shadow: none;
	width: 100%;
	padding: 8px 0;
	border-radius: 10px;
	height: 50px;

	&:disabled {
		background: rgba($color: $main-background-dark, $alpha: 0.5);
	}

	&:focus {
		outline: none;
	}

	&.secondary {
		background: transparent;
		border: 2px solid $main-background-dark;
		color: $main-background-dark;
	}
}
