@import '../../../../styles/variables';
@import '../../../../styles/mixins/typography';
@import '../../../../styles/mixins/box-shadow';

.infoContainer {
	padding: 20px;

	.mapContainer {
		height: 50%;
	}
}

.metaContainer {
	.metaInner {
		padding: 20px;
		@include box-shadow(1px, 1px, 10px, rgba($color: #000000, $alpha: 0.5));
	}
}
