@import '../../../../../styles/variables';
@import '../../../../../styles/mixins/typography';

.bookContainer {
	height: calc(100% - 10vh);
	display: flex;
	flex-direction: column;

	.header {
		display: flex;
		margin: 0 20px;
		margin-bottom: 40px;
		margin-top: 20px;
		align-items: center;

		.viewAll {
			@include paragraph(16px, rgba($main-background-dark, 1));
			background: $pink-color;
			border: 0;
			box-shadow: none;
			margin-left: 20px;
			padding: 8px 12px;
			border-radius: 10px;
			font-weight: 500;

			&:focus {
				outline: none;
			}
		}

		h1 {
			@include heading() {
				font-size: 26px;
				color: $main-background-dark;
			}
		}
	}

	div[class^='BrainhubCarousel__'] {
		height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.modalInner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;

	.borrowingModal {
		.modalTitle {
			@include heading() {
				font-size: 26px;
				color: $main-background-dark;
			}
		}
		.subTitle {
			@include paragraph(16px, rgba($main-background-dark, 1));
			margin: 10px 0;

			span {
				@include heading() {
					font-size: 18px;
					color: $main-background-dark;
					font-weight: 600;
				}
			}
		}
	}

	.metaContainer {
		padding: 10px;
		border-radius: 10px;
		background: rgba($color: $warning-bg-color, $alpha: 1);
		margin: 40px 0;
		display: flex;
		align-items: center;

		p {
			@include paragraph(18px, rgba($main-background-dark, 1));
			height: inherit;
			display: flex;
			align-items: center;
			font-weight: 500;

			svg {
				margin: 0 10px;
			}
		}
	}
}

.carouselContainer {
	height: 100%;
}

.loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
