@import '../../../styles/variables';
@import '../../../styles/mixins/typography';

.cameraContainer {
	video {
		max-width: 100%;
	}

	h1 {
		@include heading() {
			font-size: 22px;
			margin-bottom: 40px;
		}
	}
}

.loaderContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}
