@import '../../../styles/variables';
@import '../../../styles/mixins/typography';

.headerRoot {
	height: 10vh;
	background: transparent;
	display: flex;
	align-items: center;
	margin: 0 20px;

	.left {
		display: flex;
		align-items: stretch;
		flex: 1;

		.languageSelector {
			list-style-type: none;
			display: flex;
			align-items: center;

			li {
				margin-right: 10px;
				button {
					font-size: 40px;
					background: none;
					border: none;
					box-shadow: none;

					&:focus {
						outline: none;
					}
				}
			}
		}

		.day {
			@include heading {
				font-size: 8vh;
			}
			font-size: 8vh;
			margin-right: 10px;
		}

		.date {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			position: relative;
			top: 2px;

			p {
				@include paragraph(16px, $main-background-dark);
			}
		}
	}

	.right {
		display: flex;
		align-items: center;

		.qrCodeIcon {
			border: none;
			background: none;
			width: 40px;
			height: 30px;
			display: flex;
			margin: 0 5px;

			&:focus {
				outline: none;
			}

			img {
				max-width: 80%;
			}
		}
	}
}
