@import '../../../styles/variables';
@import '../../../styles/mixins/typography';
@import '../../../styles/mixins/_box-shadow';

.oneBook {
	padding: 10px;
	.cover {
		position: relative;

		img {
			max-width: 100%;
			border-radius: 20px;
			filter: grayscale(100%);
		}

		.borrowed {
			position: absolute;
			color: #fff;
			padding: 4px 8px;
			border-radius: 4px;
			top: 50%;
			background: $error-bg-color;
			margin: 0 auto;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.meta {
		padding: 20px 0;

		.title {
			@include heading;
		}

		p {
			@include paragraph(18px, rgba($main-background-dark, 0.6));
		}
	}

	&.borrowed {
		// opacity: 0.4;
	}
}
