@import '../../../styles/variables';
@import '../../../styles/mixins/typography';
@import '../../../styles/mixins/_box-shadow';

.oneBook {
	padding: 10px;
	.cover {
		img {
			max-width: 100%;
			border-radius: 20px;
		}
	}

	.meta {
		padding: 20px 0;

		.title {
			@include heading;
		}

		p {
			@include paragraph(18px, rgba($main-background-dark, 0.6));
		}
	}
}
