@import '../../../../styles/variables';
@import '../../../../styles/mixins/typography';

.searchInput {
	width: calc(100% - 14px);
	height: 50px;
	border: 0;
	border: 2px solid transparent;
	border-bottom: 2px solid $main-background-dark;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	transition: all 0.2s ease-in-out;
	@include paragraph(20px, rgba($main-background-dark, 0.8));
	padding-left: 10px;

	&:focus {
		outline: none;
		border: 2px solid $main-background-dark;
	}
}

.loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.bookContainer {
	height: calc(100% - 15vh);
	overflow: hidden;
	overflow-y: auto;
}

.searchContanier {
	margin: 10px;
}
