@import '../../../../styles/variables';
@import '../../../../styles/mixins/typography';

.borrowContainer {
	padding: 20px;

	&.extend {
		height: 100%;
	}

	.title {
		@include heading() {
			color: $main-background-dark;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}
}

.successContainer {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.innerContanier {
		background: rgba($color: $pink-color, $alpha: 1);
		padding: 50px;
		border-radius: 10px;

		.btnContainer {
			margin-top: 20px;
		}

		p {
			@include paragraph(22px, $main-background-dark);
		}
	}
}
